<!-- Creatd a new Edit section as a part for innovation section -->

<div class="form_class">
    <h2 class="color-white">EDIT YOUR DETAILS</h2>
    <form action="/edit-todolist?id=<%= todolist._id %>" method="POST" class="main_form">
        <div class="desc_Class">
            <input type="text" name="desc" value='<%= todolist.desc %>'>
        </div>
        <div class="select_and_input">
            <select name="category" class="category">
            <option value="" disabled selected><%= todolist.category %></option>
            <option>Personal</option>
            <option>Work</option>
            <option>School</option>
            <option>Cleaning</option>
            <option>Other</option>  
    
        </select>
            <input type="date" class="datesValues" required name="dueDate" value=<%=todolist.dueDate %>>

        </div>
        <div class="editBTNwrapper">
            <button type="submit" class="edit-button buttonDesign"> Update</button>
        </div>
    </form>
</div>